body {
	font-family: Arial, Helvetica, sans-serif;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border: none;
	background: transparent;
	visibility: hidden;
}

select::-ms-expand {
	display: none;
}

textarea,
input {
	resize: none;
	margin: 0 auto;
	width: 90%;
}

.title {
	font-size: 20px;
	background: transparent;
	border: none;
	margin: 0;
}

.content {
	font-size: 12px;
	background: transparent;
	border: none;
}

.selectColor {
	position: absolute;
	left: 0;
	bottom: 0;
}

.delButton {
	position: absolute;
	bottom: 0;
	left: 35%;
	visibility: hidden;
}

.note {
	width: 200px;
	height: 200px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.headerButtons {
	width: 200px;
	font-size: larger;
	border-radius: 10px;
}

#container {
	margin: 0 auto;
	text-align: center;
	padding: 1%;
	width: 80%;
}

#main {
	width: 100%;
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1%;
}

#heading {
	text-align: center;
}

#searchRow {
	text-align: center;
	margin: 5px 0;
}

#search {
	width: 200px;
	margin-top: 1%;
	display: inline-block;
}

#back {
	visibility: hidden;
}

#searchSubmit {
	width: 100px;
}

@media only screen and (max-width: 820px) {
	.note {
		width: 150px;
		height: 150px;
	}
	.title {
		font-size: 18px;
	}
	.content {
		font-size: 10px;
	}
}

@media only screen and (max-width: 425px) {
	.note {
		width: 120px;
		height: 120px;
	}
	.title {
		font-size: 16px;
	}
	.content {
		font-size: 10px;
	}
}
